/*styles for graph*/
.graphContainer {
    display: flex;
    justify-content: center;
    width: 85%;
    border: 1px solid black;
    padding: 15px;
}

/*style for graph when viewed on mobile device*/
@media only screen and (max-width: 770px) {
    .container {
      width: 100%;
    }
  }