/*styles for the cards*/
.container {
    margin: 50px 0;

}

.card {
    margin: 0 2% !important;
}

/*style for positive card*/
.positive {
    border-bottom: 10px solid rgba(0, 0, 255, 0.5) ;
    background: linear-gradient(skyBlue, skyBlue);
}

/*style for recovered card*/
.recovered {
    border-bottom: 10px solid rgba(0, 255, 0, 0.5) ;
    background: linear-gradient(lightGreen,lightGreen);
}

/*style for death card*/
.death {
    border-bottom: 10px solid rgba(255, 0, 0, 1) ;
    background: linear-gradient(tomato, tomato);
}

/*style for cards when viewed on a mobile device*/
@media (max-width: 770px) {
    .card {
        margin: 2% 0 !important;
    }
}
